@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


html,body{
  min-height:100%
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #f6f5f7; 
  color: #333;
  font-size: 14px;
  margin:0
}

#box {
  width: 400px;
  margin: 10% auto;
  text-align: center;
  background:rgba(255,255,255,0.6);
  padding:20px 50px;
  box-sizing:border-box;
  box-shadow:0 3px 12px rgba(0,0,0,0.2);
  border-radius:2%
}
h1 {
  margin-bottom: 1.5em;
  font-size: 30px;
  color: #FF4B2B;
  font-weight: 100;
}
h1 span, small {
  display:block;
  font-size: 14px;
  color: #989598;
 }
 /* Heading styles */
h1, h2, h3 {
    font-weight: bold;
}

small{ 
  font-style: italic; 
  font-size: 11px;
}


form {
  height: 100%;
}
form p { position: relative; }

.button-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;

}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.password {
  width: 90%;
  padding: 15px 12px;
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #ddd;
  background: rgba(255,255,255,0.2) !important;
  color: #555;
}

#valid{
  font-size:12px;
  color:#FF4B2B;
  height:15px
}
#strong{
  height:20px;
  font-size:12px;
  color:#FF4B2B;
  text-transform:capitalize;
  background:rgba(205,205,205,0.1);
  border-radius:5px;
  overflow:hidden
}

#strong span{  
  display:block;
  box-shadow:0 0 0 #fff inset;
  height:100%;
  transition:all 0.8s
}
#strong .weak{
   box-shadow:5em 0 0 #FF4B2B inset;
}
#strong .medium{
   color:#2c3e50;
   box-shadow:10em 0 0 #da6 inset
}
#strong .strong{
   color:#595;
   box-shadow:50em 0 0 #ada inset
}


